@import url("~leaflet/dist/leaflet.css");
.leaflet-container {
  width: 100%;
  height: 90vh;
}

.mapApp {
  text-align: center;
}

.mapApp-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .mapApp-logo {
    animation: mapApp-logo-spin infinite 20s linear;
  }
}

.mapApp-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.mapApp-link {
  color: #61dafb;
}

@keyframes mapApp-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
